.Header {
  --text-color: #444444;
  }
  .panel-header-top {
  background-color: #F9F9F9;
  display: flex;
  justify-content: space-around;
  line-height: 41px;
  padding: 0 20rem;


  > *:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    background-color: var(--text-color);
    font-size: 1.5rem;
    transform: translate(50px, 10px);
  }
   > * {
    font-size: 1.5rem;
    font-weight: 300;
    color: currentColor;
   }
}
