.Header {
  --text-color: #444444;
}
.panel-header-top {
  display: flex;
  justify-content: space-around;
  background-color: white;
  line-height: 41px;
  min-width: 1392px;
  padding: 0 72px;
  margin: 0 70px;

  > *:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    background-color: var(--text-color);
    color: currentColor;
    font-size: 1.5rem;
    font-weight: 300;
    transform: translate(50px, 10px);
  }
}
